/* CSS Font Import */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
/* Navbar Styling */
.nav-bar {
    background-color: #333;
    overflow: hidden;
}

.nav-bar a {
    float: left;
    color: #f2f2f2;
    padding: 1% 1.5%;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    transition: 1s;
}

.nav-bar a:hover {
    background-color: #274690;
}

.nav-bar a.active {
    background-color: #213066;
}

/* Display Videos Styling */
.video-list {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid red;
}

.video {
    display: flex;
    justify-content: space-between;
    border: 0.25vh solid blue;
    margin-top: 1rem;
}

.video .title {
    font-weight: bold;
}

.btn-delete {
    /* Text */
    font-size: 1vw;
    color: white;

    /* Coloring */
    background-color: #c03737;
    border: 2px solid #c03737;
    border-radius: 10px;
}

.btn-delete:hover {
    background-color: #a52c2c;
    border: 2px solid #a52c2c;
    border-radius: 10px;
}

.btn-edit {
    /* Text */
    font-size: 1vw;
    color: white;

    /* Coloring */
    background-color: #aa17c7;
    border: 2px solid #aa17c7;
    border-radius: 10px;
}

.btn-edit:hover {
    background-color: #9316ac;
    border: 2px solid #9316ac;
    border-radius: 10px;
}

.btn-view {
    /* Text */
    font-size: 1vw;
    color: white;

    /* Coloring */
    background-color: #05ad6a;
    border: 2px solid #05ad6a;
    border-radius: 10px;
}

.btn-view:hover {
    background-color: #06995e;
    border: 2px solid #06995e;
    border-radius: 10px;
}

.buttons {
    display: flex;
    align-items: center;
}




.video-view {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    max-width: 80%;
    margin: 2rem auto;
    border: 2px solid red;
    padding: 2rem;
}